.DS_Store
.env
.flaskenv
*.pyc
*.pyo
env/
env*
dist/
build/
*.egg
*.egg-info/
_mailinglist
.tox/
.cache/
.pytest_cache/
.idea/
docs/_build/
__pycache__
SET_JWT_SECRET.BAT
github_api_token.txt
eksctl create cluster_OUTPUT.txt
new_user_credentials.csv
new_user_credentials.xlsx
new_user_credentials.csv.TXT
new-user-1.png
new-user-1_accessKeys.csv
new-user-1_accessKeys.png
old_credentials/
fnsd_deploy_flask_kubernetes_eks.code-workspace

# Coverage reports
htmlcov/
.coverage
.coverage.*
*,cover

# Direnv
.envrc
.direnv
